<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="net.dentalpost.appgyver.steroids.version.hack"
        version="1.0.0">

  <name>AppGyver Steroids Target SDK Hack</name>

  <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23" />
        </config-file>
  </platform>

</plugin>
